# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Large generated data
embeddings/

# HuggingFace cache
.cache/
hf_cache/

# OS
Thumbs.db
.DS_Store